body {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.clock {
  position: relative;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker {
  position: absolute;
  left: 49.7%;
  width: 20px;
  height: 92%;
  background-color: rgb(255, 255, 255, 0);
}

.marker::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.marker::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.marker-even::before,
.marker-even::after {
  width: 20px;
  height: 15px;
  border-radius: 100%;
}

.marker-39 {
  transform: rotate(90deg);
}

.marker-17 {
  transform: rotate(30deg);
}

.marker-28 {
  transform: rotate(60deg);
}

.marker-410 {
  transform: rotate(120deg);
}

.marker-511 {
  transform: rotate(150deg);
}

.disc {
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.disc-center {
  background-color: rgb(255, 255, 255);
  width: 5%;
  height: 5%;
}

.hand {
  position: absolute;
  bottom: 50%;
  border-radius: 20px;
  transform-origin: bottom;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hand-hour {
  background-color: rgb(255, 255, 255);
  height: 15%;
  width: 10px;
}

.hand-minute {
  background-color: rgb(255, 255, 255);
  height: 20%;
  width: 8px;
}

.hand-second {
  background-color: rgb(255, 255, 255);
  height: 35%;
  width: 5px;
}
